* 
.main-container
{
    text-align: center;
}


body
{
    background-color: lightslategray;
    color: black;
    min-height: 1000px;

}

#jumbotron
{
    text-align: center; 
}

.blue-mode
{
    background-image: linear-gradient(red,blue);
    background-color: rgb(133, 151, 206);
    color: white;
}

.red-mode
{
    background-image:linear-gradient(yellow, red);
    background-color: rgb(165, 15, 15);
    color: white;
}

.green-mode
{
    background-image: linear-gradient(lightgreen, yellow);
    background-color: greenyellow;
    color: black;
}

nav {
    
    
}

nav a{
    color: black;
    margin-right: 30px;
    float: left;
}
     
#navbarDropdownButton{
    float: right    ;
    background-color: white; 
}

#navbarDropdownMenu{
    
    text-align: center;
}

img{
    border-radius: 8px;
    width: 200px;
    height: auto;
    align-self: flex-start;
}



 

