* 
body {
    background-color: lightslategray;
    color: black;
    overflow-y: hidden;
    min-height: 1000px;
}

#jumbotron {
    text-align: center;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

.blue-mode {
    background-image: linear-gradient(red,blue);
    color: white;
}

.red-mode {
    background-image : linear-gradient(yellow, red);
    color: white;
}

.green-mode {
    background-image: linear-gradient(lightgreen, yellow);
    color: black;
}

nav a {
    color: black;
    margin-right: 30px;
    float: left;
    border-radius: 10px;
    background-color: white;
    width: 80px;
    text-align: center;
   
}
     
#navbarDropdownButton {
    float: right;
    background-color: white; 
    border-radius: 10px;
}

#navbarDropdownMenu {
    
    text-align: center;
}

.rekentool-container {
    width: 205px;
    height: 160px;
    left: 650px;
    top: 280px;
    color: inherit;
    position: absolute;
    background-color: inherit;
    padding: 10px;
    border-radius: 10px;
}

.rekentool {
    position: relative;
    
}

.calculate {
    color:inherit;
    width: 240px;
    background-color: inherit;
    border-radius: 10px;
    border: solid 2px white;
    
}

input.distance {
    background-color:inherit;
    border-bottom:hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-color: white;
    color:inherit; 
    width: 240px;
    height: 50px;
}

input.fuel-usage {
    background-color:inherit;
    border-bottom: black;
    border-top:hidden;
    border-color:white;
    color:inherit;
    width: 240px;
    height: 50px;
}

input.fuel-price {
    background-color:inherit;
    border-bottom: black;
    border-color: white;
    border-top:hidden;
    color:inherit;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 240px;
    height: 50px;
}


.gasoline-prices {
    height: 100px;
    width: 300px;
    left: 1200px;
    top: 250px;
    border-radius: 10px;
    background-color: inherit ;
    position: absolute;
}

::placeholder {
    color: inherit;
    opacity: 40%;
    
}

.rekentool-info {
    position: absolute;
    height: 300px;
    width: 500px;
    top: 250px;
    left: 50px;
    color: inherit;
}

.contact{
    position:absolute; 
    margin-right: 100px;
    height: 300PX;
    width: 500PX;
    left: 520px;
    top: 250px;
    border-radius: 10px;
    background-color:white;
    color: black;
    text-align: center;
}

.name{
    width: 500px;
    border-top:hidden;
    border-left: hidden;
    border-right: hidden;
    border-bottom-color:inherit; 
}

.email{
    width: 500px;
    border-top:hidden;
    border-left: hidden;
    border-right: hidden;
    border-bottom-color:inherit;   
}

.message{
    width: 500px;
    height: 100px;
    border-top:hidden;
    border-left: hidden;
    border-right: hidden;
    border-bottom-color:inherit;    
}

.submit {
    position:absolute;
    left: 180px;
    top: 250px;
    border-radius: 20px;
    border:hidden;
    background-color: inherit;
}

.about-text {
    position: absolute;
    top: 200px;
}

.selfie {
    position: absolute;
    left: 1000px;
    top: 1px;
    border-radius: 5px;
   
}



 

